<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="app.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<body  ng-app="weatherApp" ng-controller="weatherCtrl">
<div class="container">
    <div class="input">
    <h1>{{channelInfo.heading}}</h1>
    <input type="text" ng-model="cityName">
    <input type="button" value="Search" ng-click="myFunc()">
        <div ng-show = "IsVisible">
            <p>Name of city: {{nameOfCity}}</p>
            <p>Temperature: {{temp}}</p>
            <p>Description: {{description}}</p>
            <img src="{{img}}"></img>
        </div>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>
